<!DOCTYPE html>
<html lang="en">
  <head>

	<meta charset="utf-8">
	<title>BRANCH CHANGE</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
	================================================== -->
	<link rel="stylesheet" type="text/css"  href="/static/css/style.css">

	<script>
	  function preventBack(){window.history.forward();}
	  setTimeout("preventBack()", 0);
	  window.onunload=function(){null};
	</script>
  </head>
  <body>
		<div class="container">
			<div class="row">
				<br>
				<div class="col-md-2 col-md-offset-11">
					<a href="{% url "index" %}" style="color:#003366; font-size:15px" align="right" >Logout</a>
				</div>
				<br><br><br><br>
				<center>
					<h1 style="color:#003366">Welcome Admin</h1>
					<h3 {% if file_1 == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Options File must be uploaded </h3>
					<h3 {% if file_2 == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Programmes File must be uploaded</h3>
				</center>
				<br><br><br>
				<div class="col-xs-offset-2 col-md-5">
					<form role="form" action="{% url "upload" %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
	                    <label style="color:#FF6600; font-size: 19px;">Upload Options:</label><br><br>
						<input id="file1" type="file" name="file1" accept=".csv"><br> <!-- accept=".csv" -->
						<label style="color:#FF6600; font-size: 19px;">Upload Programmes:</label><br><br>
						<input id="file2" type="file" name="file2" accept=".csv"><br> <!-- accept=".csv" -->
						<button class="btn btn-info"> Get Results</button>
						<br>
					</form>
                </div>
                <div class="col-xs-offset10 col-md-4">
					<label style="color:#FF6600; font-size: 19px;">Export the existing Database:</label><br><br>
					<a href="{% url "result" %}"><button class="btn btn-info"> Download</button></a>
					<br>
                </div>
				
			</div>
		</div>
				

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>

	<!-- Javascripts
	================================================== -->
	<script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>