<!DOCTYPE html>
<html lang="en">
  <head>

	<meta charset="utf-8">
	<title>BRANCH CHANGE</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
	================================================== -->
	<link rel="stylesheet" type="text/css"  href="/static/css/style.css">
	<!-- Prevent Going Back -->
	<script>
	  function preventBack(){window.history.forward();}
	  setTimeout("preventBack()", 0);
	  window.onunload=function(){null};
	</script>
  </head>
  <body>

		<div class="container">
			<div class="row">
				<br>
				<br>
				<br>
				<center>
					<h1 style="color:#003366">Form Submmitted</h1>
					<h3 {% if cpiLim == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}><br>Your CPI was below the cutoff CPI <br></h3>
				<br>
					<h4 >Go to back login page <a href="{% url "index" %}" style="color:#ff6600">here</a></h4>
					
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>

	<!-- Javascripts
	================================================== -->
	<script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>