<!DOCTYPE html>
<html lang="en">
  <head>

	<meta charset="utf-8">
	<title>BRANCH CHANGE</title>
   
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
	================================================== -->
	<link rel="stylesheet" type="text/css"  href="/static/css/style.css">
  </head>
  <body>
	
		<div class="container">
			<div class="row">
				<br>
				<br>
				<br>
				<center>
					<h1 style="color:#003366">Branch Change</h1>
				<br>
				<br>
				<div class="col-md-6 col-md-offset-3">
					<form role="form" action="{% url "adduser" %}" method="post"> {% csrf_token %} 
					<h3 {% if exists == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>This Roll Number is already Registered</h3>
					<h3 {% if blank == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Username and Pasword cannot be blank </h3>
					<h3 {% if user == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Username already exists</h3>
					<h3 {% if ROLL == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Invalid Roll Number</h3>
						
						<div class="form-group" >
						  <label for="username" style="color:#FF6600; font-size: 22px;">Username</label><br>
						 <input type="text" class="form-control" id="username" name ="username" placeholder="Enter Username">
						</div><br>
						<div class="form-group">
						  <label for="roll" style="color:#FF6600; font-size: 22px;">Roll Number</label><br>
						  <input type="roll" class="form-control" id="roll" name="roll" placeholder="Enter Roll Number">
						</div><br>
						<div class="form-group">
						  <label for="password" style="color:#FF6600; font-size: 22px;">Password</label><br>
						  <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
						</div>
						<input type="submit" class="btn btn-info btn-active" value="CREATE">	
					</form>
				</div>
				</center>
			</div>
		</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>

	<!-- Javascripts
	================================================== -->
	<script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>