<!DOCTYPE html>
<html lang="en">
  <head>

	<meta charset="utf-8">
	<title>BRANCH CHANGE</title>
   
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
	================================================== -->
	<link rel="stylesheet" type="text/css"  href="/static/css/style.css">

  </head>
  <body>

		<div class="container">
			<div class="row">
				<br>
				<br>
				<br>
				<center>
				<h1 style="color:#003366">Branch Change</h1>
				<br>
				<br>
				<div class="col-md-6 col-md-offset-3">
					<form role="form" action="{% url "login" %}" method="post"> {% csrf_token %} 
						 <h3 {% if invalid == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Invalid username or password</h3>
						<div class="form-group" >
						  <label for="username" style="color:#FF6600; font-size: 22px;">Username</label><br>
						  <input type="text" class="form-control" id="username" name ="username" placeholder="Enter Username">
						</div><br>
						<div class="form-group">
						  <label for="password" style="color:#FF6600; font-size: 22px;">Password</label><br>
						  <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
						</div><br>
						<input type="submit" class="btn btn-info btn-active" value="LOGIN">	
					</form>
					<br>
					<a href="{% url "createuser" %}" style="color:#FF6600; font-size: 17px;"> NOT A USER? CREATE USER ACCOUNT</a>
				<!-- 	<a href="login.html">
						<button class="btn btn-info btn-active">LOGIN</button>
					</a> -->
				</div>
				</center>
			</div>
		</div>
		<br><br><br><br><br><br>
		<div class="col-md-2 col-md-offset-9">
			<a href="" style="color:#003366; font-size:15px" align="right" data-toggle="modal" data-target="#myModal">Branch Change Rules</a>
		</div>

		<!-- Modal -->
		<div id="myModal" class="modal" role="dialog">
		    <center>
		  <div class="modal-lg">
		    
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Branch Change Rules</h4>
		      </div>
		      <div class="modal-body">
		        <p align="left">Here are the rules for 2015 from IITB.<br>
					1. The eligibility criteria for applying for a change of branch program are:<br>
					(a) Must apply before the start of the third semester.<br>
					(b) Must complete prescribed course credits in the first two semesters<br>
					(c) No backlog at the end of the two semesters<br>
					(d) Secured “reasonable” CPI of: at least 8.00 for general and OBC category students;
					and at least 7.00 for SC, ST and PwD category students.<br>
					2. Before beginning the allocation, additional seats are made available in each branch, limited
					to a maximum of 10% of its sanctioned strength (The β factor)<br>
					3. Each available seat may be occupied by students of any category<br>
					4. An eligible student’s request for a shift from branch A to branch B will be considered valid
					if any one of the following two sets of criteria are satisfied.<br>
					(a) Set 1<br>
					i. the CPI of the student is at least 9.00<br>
					ii. there is a seat available in branch B<br>
					(b) Set 2<br>
					i. There is a seat available in branch B<br>
					ii. The strength in branch A, from which a change is being sought, does not fall
					below its sanctioned strength by more than 25%. (The α factor)<br>
					iii. There is no student with higher CPI who is currently being denied a change of
					branch to B due to rule ii above.
				</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		
		  </div>
		  </center>
		</div>
		<br>

	<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>

	<!-- Javascripts
	================================================== -->
	<script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>