<!DOCTYPE html>
<html lang="en">
  <head>

	<meta charset="utf-8">
	<title>BRANCH CHANGE</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
	================================================== -->
	<link rel="stylesheet" type="text/css"  href="/static/css/style.css">

	<script>
		var curr = 2;

		function plus ()
		{
			if (curr < 16)
			{
				document.getElementById('pref'+curr).style.display="block";
				curr++;
			}
		}

		function minus ()
		{
			if (curr > 1)
			{
				document.getElementById('pref'+curr).style.display = "none";
				document.getElementById('def'+curr).selected = true;
				curr--;
			}
			
		}

	</script>
	<!-- Prevent Going Back -->
	<script>
	  function preventBack(){window.history.forward();}
	  setTimeout("preventBack()", 0);
	  window.onunload=function(){null};
	</script>
  </head>
  <body>

	<div class="container">
		<br>
		<br>
		<center>
			<h1 style="color:#003366; font-size:50px">Branch Change Form</h1>
			<h3 {% if curr == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Compulsory Fields Left Empty<br></h3>
			<h3 {% if same == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Current Branch and Branch Change Preference cannot be same</h3>
			<h3 {% if twosame == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Two preferencces cannot be same</h3>
			<h3 {% if noSel == "true" and invPref != "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Atleast 1 preference must be given</h3>
			<h3 {% if invPref == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}>Higher Preference left empty</h3>
			<h3 {% if invCPI == "true" %} style="color:#ff1919;display:inline" {% else %} style="display:none" {% endif %}><br>Invalid CPI (should be in xx.yy format)</h3>
		</center>
		<br>
		<form role="form" action="{% url "confirm" %}" method="post"> {% csrf_token %}
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
					  <label style="color:#FF6600; font-size: 16px;" for="roll" >Roll Number</label><br>
					  <input type="text" class="form-control" id="roll" name="roll" placeholder="Enter Roll Number" value="{{ pre_roll }}" disabled>
					</div>
			</div>
			<div class="col-md-7">
					<div class="form-group">
					  <label style="color:#FF6600; font-size: 16px;" for="name" >Name</label><br>
					  <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" value="{{ pre_name }}">
					</div><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
					<div class="form-group">
					  <label style="color:#FF6600; font-size: 16px;" for="cpi" >CPI</label><br>
					  <input type="text" class="form-control" id="cpi" name="cpi" placeholder="CPI (xx.yy)" value="{{ pre_cpi }}">
					</div>
			</div>
			<div class="col-md-2">
					<div class="form-group">
					  <label style="color:#FF6600; font-size: 16px;" for="cat" >Category</label><br>
					  <select class="form-control" id="cat" name="cat">
						  <option >Category</option>
						  <option {% if pre_cat|stringformat:"s" == "Gen" %} selected="selected" {% endif %}>Gen</option>
						  <option {% if pre_cat|stringformat:"s" == "SC" %} selected="selected" {% endif %}>SC</option>
						  <option {% if pre_cat|stringformat:"s" == "ST" %} selected="selected" {% endif %}>ST</option>
						  <option {% if pre_cat|stringformat:"s" == "OBC" %} selected="selected" {% endif %}>OBC</option>
						  <option {% if pre_cat|stringformat:"s" == "PwD" %} selected="selected" {% endif %}>PwD</option>
						</select>
					</div>
			</div>
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="branch" >Current Branch</label><br>
						<select class="form-control" id="branch" name="branch">
							<option >Your Branch</option>
							<option {% if pre_curr|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_curr|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_curr|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_curr|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_curr|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_curr|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_curr|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_curr|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_curr|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_curr|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div><br>
			</div>
		</div>    
		<br>
		<div class="row" id="pref1">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref1">Branch Preference 1</label><br>
						<select class="form-control" id="pref_1" name="pref_1"> 
							<option {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_1|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_1|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_1|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_1|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_1|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_1|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_1|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_1|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_1|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_1|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref2" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref2">Branch Preference 2</label><br>
						<select class="form-control" id="pref_2" name="pref_2"> 
							<option id="def2"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_2|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_2|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_2|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_2|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_2|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_2|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_2|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_2|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_2|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_2|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref3" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref3">Branch Preference 3</label><br>
						<select class="form-control" id="pref_3" name="pref_3"> 
							<option id="def3"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_3|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_3|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_3|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_3|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_3|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_3|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_3|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_3|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_3|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_3|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref4" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref4">Branch Preference 4</label><br>
						<select class="form-control" id="pref_4" name="pref_4"> 
							<option id="def4"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_4|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_4|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_4|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_4|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_4|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_4|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_4|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_4|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_4|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_4|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref5" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref5">Branch Preference 5</label><br>
						<select class="form-control" id="pref_5" name="pref_5"> 
							<option id="def5"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_5|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_5|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_5|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_5|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_5|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_5|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_5|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_5|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_5|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_5|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref6" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref6">Branch Preference 6</label><br>
						<select class="form-control" id="pref_6" name="pref_6"> 
							<option id="def6"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_6|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_6|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_6|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_6|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_6|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_6|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_6|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_6|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_6|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_6|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref7" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref7">Branch Preference 7</label><br>
						<select class="form-control" id="pref_7" name="pref_7"> 
							<option id="def7"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_7|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_7|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_7|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_7|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_7|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_7|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_7|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_7|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_7|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_7|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref8" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref8">Branch Preference 8</label><br>
						<select class="form-control" id="pref_8" name="pref_8"> 
							<option id="def8"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_8|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_8|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_8|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_8|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_8|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_8|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_8|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_8|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_8|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_8|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref9" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref9">Branch Preference 9</label><br>
						<select class="form-control" id="pref_9" name="pref_9"> 
							<option id="def9"  {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_9|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_9|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_9|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_9|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_9|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_9|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_9|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_9|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_9|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_9|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div>
		<div class="row" id="pref10" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref10">Branch Preference 10</label><br>
						<select class="form-control" id="pref_10" name="pref_10">
							<option id="def10" {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_10|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_10|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_10|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_10|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_10|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_10|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_10|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_10|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_10|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_10|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref11" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref11">Branch Preference 11</label><br>
						<select class="form-control" id="pref_11" name="pref_11">
							<option id="def11" {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_11|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_11|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_11|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_11|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_11|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_11|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_11|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_11|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_11|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_11|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref12" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref12">Branch Preference 12</label><br>
						<select class="form-control" id="pref_12" name="pref_12">
							<option id="def12" {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_12|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_12|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_12|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_12|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_12|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_12|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_12|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_12|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_12|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_12|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref13" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref13">Branch Preference 13</label><br>
						<select class="form-control" id="pref_13" name="pref_13">
							<option id="def13" {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_13|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_13|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_13|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_13|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_13|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_13|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_13|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_13|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_13|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_13|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref14" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref14">Branch Preference 14</label><br>
						<select class="form-control" id="pref_14" name="pref_14">
							<option id="def14" {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_14|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_14|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_14|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_14|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_14|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_14|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_14|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_14|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_14|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_14|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<div class="row" id="pref15" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref15">Branch Preference 15</label><br>
						<select class="form-control" id="pref_15" name="pref_15">
							<option id="def15" {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_15|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_15|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_15|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_15|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_15|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_15|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_15|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_15|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_15|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_15|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div>  
		<div class="row" id="pref16" style="display:none">
			<div class="col-md-7">
					<div class="form-group">
						<label style="color:#FF6600; font-size: 16px;" for="pref16">Branch Preference 16</label><br>
						<select class="form-control" id="pref_16" name="pref_16">
							<option id="def16" {% if pre_cat|stringformat:"s" == "" %} selected="selected" {% endif %}>Select Branch</option>
							<option {% if pre_pref_16|stringformat:"s" == "AE B.Tech" %} selected="selected" {% endif %}>AE B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "CE B.Tech" %} selected="selected" {% endif %}>CE B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "CH" %} selected="selected" {% endif %}>CH</option>
							<option {% if pre_pref_16|stringformat:"s" == "CL B.Tech" %} selected="selected" {% endif %}>CL B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "CL Dual Deg" %} selected="selected" {% endif %}>CL Dual Deg</option>
							<option {% if pre_pref_16|stringformat:"s" == "CS B.Tech" %} selected="selected" {% endif %}>CS B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "EE B.Tech" %} selected="selected" {% endif %}>EE B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "EE Dual Deg E1" %} selected="selected" {% endif %}>EE Dual Deg E1</option>
							<option {% if pre_pref_16|stringformat:"s" == "EE Dual Deg E2" %} selected="selected" {% endif %}>EE Dual Deg E2</option>
							<option {% if pre_pref_16|stringformat:"s" == "EN Dual Deg" %} selected="selected" {% endif %}>EN Dual Deg</option>
							<option {% if pre_pref_16|stringformat:"s" == "EP B.Tech" %} selected="selected" {% endif %}>EP B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "EP Dual Deg N1" %} selected="selected" {% endif %}>EP Dual Deg N1</option>
							<option {% if pre_pref_16|stringformat:"s" == "ME B.Tech" %} selected="selected" {% endif %}>ME B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "ME Dual Deg M2" %} selected="selected" {% endif %}>ME Dual Deg M2</option>
							<option {% if pre_pref_16|stringformat:"s" == "MM B.Tech" %} selected="selected" {% endif %}>MM B.Tech</option>
							<option {% if pre_pref_16|stringformat:"s" == "MM Dual Deg Y1" %} selected="selected" {% endif %}>MM Dual Deg Y1</option>
							<option {% if pre_pref_16|stringformat:"s" == "MM Dual Deg Y2" %} selected="selected" {% endif %}>MM Dual Deg Y2</option>
						</select>
					</div>
			</div>
		</div> 
		<br>
		<button type="button" onclick="plus()" class="btn btn-default btn-lg">
			<strong/><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
		<button type="button" onclick="minus()" class="btn btn-default btn-lg">
			<strong/><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		</button>
		</form>
		<br>
		<br>
		<br>
		<button class="btn btn-info btn-active">SUBMIT</button>
		<br>
		<br>
		<br>
		<br>
	</div>
	
	<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>

	<!-- Javascripts
	================================================== -->
	<script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>