<!DOCTYPE html>
<html lang="en">
  <head>

	<meta charset="utf-8">
	<title>BRANCH CHANGE</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

	<!-- Stylesheet
	================================================== -->
	<link rel="stylesheet" type="text/css"  href="/static/css/style.css">
  </head>
  <body>
	
		<div class="container">
			<div class="row">
				<br><br><br><br><br>
				<center>
					<br><br><br><br>
					<h1 style="color:#003366">Invalid Access</h1>
					<h4 >Go to login page <a href="{% url "index" %}" style="color:#ff6600">here</a></h4>
				<br>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>

	<!-- Javascripts
	================================================== -->
	<script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>